.accordion-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
}

.accordion {
  width: 80%;
}

.accordion-flush .accordion-item {
  background: rgba(25, 10, 10, 0.9);
  border: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 12px;
  margin-bottom: 1.5rem;
  backdrop-filter: blur(6px);
}

.accordion-button {
  background: transparent;
  color: #FF4C4C;
  font-weight: 600;
  font-size: 1.15rem;
  text-shadow: 0 0 6px #FF4C4C, 0 0 15px #b43f3f(0, 200, 255, 0.7);
}

.accordion-button:not(.collapsed) {
  background: rgba(255, 0, 0, 0.05);
  color: #ffffff;
  text-shadow: 0 0 12px #FF4C4C, 0 0 20px rgba(255, 76, 76, 0.7);
}

.accordion-body {
  color: #ffe6e6;
  background: transparent;
  padding: 1rem 1.5rem;
  border-top: 1px solid rgba(255, 0, 0, 0.25);
  text-align: center;
}

.card:hover {
  box-shadow: 
    0 0 25px rgba(255, 0, 0, 0.8),
    0 0 50px rgba(255, 0, 0, 0.5);
}
